<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetCross.Memory.Unsafe" version="0.2.3.4" targetFramework="net452" />
  <package id="FakeItEasy" version="2.0.0-rc2" targetFramework="net452" />
  <package id="NUnit" version="3.2.1" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.0.0" targetFramework="net452" />
</packages>